@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 262 57% 16%;
    --foreground: 213 31% 91%;

    --card: 262 57% 16%;
    --card-foreground: 213 31% 91%;
 
    --popover: 262 57% 16%;
    --popover-foreground: 213 31% 91%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 262 57% 16%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 262 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
 
    --accent: 262 34% 17%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 262 34% 17%;
    --input: 262 34% 17%;
    --ring: 213 31% 91%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-400 to-purple-600 animate-gradient bg-300%;
}

.bg-300\% {
  background-size: 300% 300%;
}